
<h3><%= @page.name %></h3>

<ul class="page_show">
  <% @page.webclips.each do |webclip| %>
      <li>
        <div>
          <%= link_to webclip.link do %>
          <%= image_base_64_tag(webclip.webclip_icon, :default)%>
          <h5><%= webclip.name %></h5>
          <% end %>
        </div>
        <span><%= link_to 'Edit', edit_admin_webclip_path(webclip) %></span>
      </li>
      
  <% end %>
</ul>
<br/><br/>
<%= link_to 'Edit Page', edit_admin_page_path(@page) %> |
<%= link_to 'Back', admin_pages_path %>
