
<h2>Group Name: <%= @page.name %></h2>
<br/>

<ul class="page_show">
  <% @page.webclips.each do |webclip| %>
      <li>
        <div>
          <%= image_base_64_tag(webclip.webclip_icon)%>
          <h5><%= webclip.name %></h5>
        </div>
        <p>
        <%= link_to 'Edit', edit_admin_webclip_path(webclip) %>
        <%= link_to "Remove", remove_webclip_admin_page_path(@page, webclip), data: { confirm: 'Are you sure?' } %>
        </p>
      </li>
      
  <% end %>
</ul>
<br/>
<%= link_to 'Edit This Page', edit_admin_page_path(@page), class: "btn btn-default" %> &nbsp; <%= link_to 'Delete this Group', admin_page_path(@page), class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
<br/><br/>
<div class="links">
<%= link_to 'View All Groups', admin_pages_path %>
</div>