<!-- html: { class: 'form-inline' } za dodavanje klase formularu ubaciti u zagradu iza @webclip -->
<%= simple_form_for [:admin, @webclip], html: { class: 'form-horizontal' },
wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-webclip">
    <%= f.input :name, label: 'Webclip Title', hint: 'Make it as short as possible' %>
    <%= f.input :link, hint: 'URL you want this Webclip to point to (e.g. http://www.google.com)' %>
    <%= f.input :description, hint: 'Visible only in "list" layout' %>
    <%= f.association :pages, as: :check_boxes, hint: 'Webclip will be displayed only on selected pages' %>
    <%= f.association :webclip_icon, as: :radio_buttons, label_method: :icon_label %>
    <div class="col-sm-offset-3 col-sm-9">
      <p class="help-block" style="margin: 0 0 40px 0">Chose one of uploaded icons or <%= link_to 'upload new', new_admin_image_path %></p>
    </div>
  </div>
<br/>
  <div class="form-actions">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.button :submit, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
<br/>
