<h1>Listing Webclips</h1>
<br/>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Description</th>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webclips.each do |webclip| %>
      <tr>
        <td><%= webclip.name %></td>
        <td><%= webclip.link %></td>
        <td><%= webclip.description %></td>
        <td><%= webclip.pages.map(&:name).join(', ') %></td>
        <td><%= image_base_64_tag(webclip.webclip_icon)%></td>
        <td><%= link_to 'Show', admin_webclip_path(webclip) %></td>
        <td><%= link_to 'Edit', edit_admin_webclip_path(webclip) %></td>
        <td><%= link_to 'Destroy', admin_webclip_path(webclip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webclip', new_admin_webclip_path %>
