<h3><%= @webclip.name %></h3>
<p>
  <strong>Icon:</strong>
  <%= image_base_64_tag(@webclip.webclip_icon) %>
</p>
<p>
  <strong>Description:</strong>
  <%= @webclip.description %>
</p>
<p>
  <strong>Link:</strong>
  <%= @webclip.link %>
</p>
<br/>
<p>
  <strong>Pages:</strong>
  <%= @webclip.pages.map(&:name).join(', ') %>
</p>
<br/>

<%= link_to 'Edit', edit_admin_webclip_path(@webclip) %> |
<%= link_to 'Back', admin_webclips_path %>
