<div class="row">
  <div class="col-sm-9 col-sm-offset-3">
    <h1><%= @webclip.name %></h1>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Icon:</div>
  <div class="col-sm-9"><%= image_base_64_tag(@webclip.webclip_icon) %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Description:</div>
  <div class="col-sm-9"><%= @webclip.description %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Link:</div>
  <div class="col-sm-9"><%= @webclip.link %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Pages:</div>
  <div class="col-sm-9"><%= @webclip.pages.map(&:name).join(', ') %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Webclip Preview:</div>
    <div class="col-sm-9">
      <div class="frontend <%= PortalSetting.first.theme.present? ? PortalSetting.first.theme : 'default' %>_theme " style="display: inline-block; font-family: <%= escape_javascript(PortalSetting.first.font).html_safe %>" >
        <% if PortalSetting.first.layout == "thumbs" %>
        <div class="thumbs" style="width: 120px">
          <%= link_to @webclip.link, class: "webclip", target: "_blank" do %>
          <%= image_base_64_tag @webclip.webclip_icon %>
          <h3><%= @webclip.name %></h3> 
          <% end %>
        </div>
        <% else%>
        <div class="list" style="width: 325px; padding: 10px 10px 0 10px">
          <%= link_to @webclip.link, class: "webclip", target: "_blank" do %>                  
          <%= image_base_64_tag @webclip.webclip_icon %>
          <h3><%= @webclip.name %></h3> 
          <p><%= @webclip.description %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-9 col-sm-offset-3">
    <%= link_to 'Edit This Webclip', edit_admin_webclip_path(@webclip), class: 'btn btn-default' %> &nbsp;<%= link_to 'Delete This Webclip', admin_webclip_path(@webclip), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<br/>
<div class="links">
<%= link_to 'View All Webclips', admin_webclips_path %>
</div>
