<div class="row">
  <div class="col-sm-9 col-sm-offset-3">
    <h1><%= @webclip.name %></h1>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Icon:</div>
  <div class="col-sm-9"><%= image_base_64_tag(@webclip.webclip_icon) %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Description:</div>
  <div class="col-sm-9"><%= @webclip.description %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Link:</div>
  <div class="col-sm-9"><%= @webclip.link %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Pages:</div>
  <div class="col-sm-9"><%= @webclip.pages.map(&:name).join(', ') %></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-3 show_label">Webclip Preview:</div>
  <div class="col-sm-9">
      <div class="frontend <%= portal_body_theme %> <%= portal_icon_bg %>" style="display: inline-block; font-family: <%= portal_font %>" >
        <% if @thumbs_layout %>
          <div class="thumbs">
            <%= link_to @webclip.link, class: "webclip", target: "_blank" do %>
              <%= image_base_64_tag @webclip.webclip_icon %>
              <h3><%= @webclip.name %></h3> 
            <% end %>
          </div>
        <% else%>
          <div class="list">
            <%= link_to @webclip.link, class: "webclip", target: "_blank" do %>                  
              <%= image_base_64_tag @webclip.webclip_icon %>
              <h3><%= @webclip.name %></h3> 
              <p><%= @webclip.description %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-9 col-sm-offset-3">
    <%= link_to 'Edit This Webclip', edit_admin_webclip_path(@webclip), class: 'btn btn-default' %> &nbsp;<%= link_to 'Delete This Webclip', admin_webclip_path(@webclip), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<br/>
<div class="links">
<%= link_to 'View All Webclips', admin_webclips_path %>
</div>
