<!DOCTYPE html>
<html>
<head>
  <title>MobilePortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/theme_style' %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body class="frontend <%= PortalSetting.first.theme.present? ? PortalSetting.first.theme : 'default' %>_theme">
  <div class="wrapper">
    
    <div class="header_wrapper_1">
      <div class="container">
        <%= flash_messages %>
        <h1>
          <% if @logo_image.present? %> 
          <%= image_base_64_tag @logo_image %>
          <% elsif PortalSetting.first.try(:title).present? %>
          <%= PortalSetting.first.title %>
          <% else %>
          My Mobile Portal
          <% end %>
        </h1>
      </div>
    </div>
    
    <% @pages.each do |page| %>
    <div class="header_wrapper_2">
      <a href="#" class="prev-section"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
      <a href="#" class="next-section"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
      <div class="container">
        <h2><%= page.name %></h2>
      </div>
    </div>
    <% if PortalSetting.first.layout == "thumbs" %>
    <div class="body_wrapper thumbs">
      <div class="container">  
        <% page.webclips.each_slice(6) do |slice_6| %>
        <div class="row"> 
          <% slice_6.each_slice(3) do |slice_3| %>
          <div class="col-sm-6">
            <div class="row">
              <% slice_3.each do |webclip| %>
              <div class="col-xs-4">
                <%= link_to webclip.link, class: "webclip", target: "_blank" do %>
                  <%= image_base_64_tag webclip.webclip_icon %>
                  <h3><%= webclip.name %></h3> 
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    
    <div class="body_wrapper list">
      <div class="container">  
          <% page.webclips.each_slice(2) do |slice_2| %>
            <div class="row">
              <% slice_2.each do |webclip| %>
              <div class="col-sm-6">
                <%= link_to webclip.link, class: "webclip", target: "_blank" do %>                  
                  <%= image_base_64_tag webclip.webclip_icon %>
                  <h3>Webclip Name</h3>
                  <p>Lorem ipsum dolor sit amet consequitur...</p>
                <% end %>
              </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
    
    <% end %> 
    <% end %> 

  

  </div> <!-- wrapper end -->
  
  
  <div class="footer_wrapper">  
    <div class="container">
      <a href="" class="back_to_top"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
      <nav>
        <%= link_to 'Webclips', admin_webclips_path %>
        <%= link_to 'Pages', admin_pages_path %>
        <%= link_to 'Images', admin_images_path %>
        <%= link_to 'Portal Settings', edit_admin_portal_setting_path(PortalSetting.first) %>
      </nav>
    </div>
  </div>
  
  <script type="text/javascript">
  $( document ).ready(function() {

    jQuery.fn.extend({
      scrollTo : function(speed, easing) {
        return this.each(function() {
          var targetOffset = $(this).offset().top;
          $('html,body').animate({scrollTop: targetOffset}, speed, easing);
        });
      }
    });

    $('.next-section').click(function(e){
      e.preventDefault();
      var $this = $(this),
      $next = $this.parent().next().next();
    
      $next.scrollTo(400, 'linear');
    });

    $('.prev-section').click(function(e){
      e.preventDefault();
      var $this = $(this),
      $prev = $this.parent().prev().prev();

      $prev.scrollTo(400, 'linear');
    });

    $('.back_to_top').click(function(e){
      e.preventDefault();
      $('html,body').scrollTo(400, 'linear');
    });
  
    $( ".header_wrapper_2" ).first().find("a.prev-section").css( "display", "none" );
    $( ".header_wrapper_2" ).last().find("a.next-section").css( "display", "none" );
    
  });
  </script>
</body>
</html>