<!DOCTYPE html>
<html>
<head>
  <title>MobilePortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/theme_style' %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
</head>

<body class="frontend <%= Portal.first.theme.present? ? Portal.first.theme : 'default' %>_theme">
  <div class="wrapper">
    
    <div class="header_wrapper_1">
      <div class="container">
        <%= flash_messages %>
        <h1>
          <% if @logo_image.present? %> 
          <%= image_base_64_tag @logo_image %>
          <% elsif Portal.first.try(:title).present? %>
          <%= Portal.first.title %>
          <% else %>
          My Mobile Portal
          <% end %>
        </h1>
      </div>
    </div>
    
    <% @pages.each do |page| %>
    <div class="header_wrapper_2">
      <a href="#" class="link_up"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
      <a href="#" class="link_down"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
      <div class="container">
        <h2><%= page.name %></h2>
      </div>
    </div>
    <% if Portal.first.layout == "thumbs" %>
    <div class="body_wrapper thumbs">
      <div class="container">  
        <% page.webclips.each_slice(6) do |slice_6| %>
        <div class="row"> 
          <% slice_6.each_slice(3) do |slice_3| %>
          <div class="col-sm-6">
            <div class="row">
              <% slice_3.each do |webclip| %>
              <div class="col-xs-4">
                <%= link_to webclip.link, class: "webclip", target: "_blank" do %>
                  <%= image_base_64_tag webclip.image %>
                  <h3><%= webclip.name %></h3> 
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    
    <div class="body_wrapper list">
      <div class="container">  
          <% page.webclips.each_slice(2) do |slice_2| %>
            <div class="row">
              <% slice_2.each do |webclip| %>
              <div class="col-sm-6">
                <%= link_to webclip.link, class: "webclip", target: "_blank" do %>                  
                  <%= image_base_64_tag webclip.image %>
                  <h3>Webclip Name</h3>
                  <p>Lorem ipsum dolor sit amet consequitur...</p>
                <% end %>
              </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
    
    <% end %> 
    <% end %> 

  

  </div> <!-- wrapper end -->
  
  
  <div class="footer_wrapper">
    <div class="container">
      <nav>
        <a><%= session[:username].present? ? session[:username] : 'Gost' %></a>
        <a><%= session[:username].present? ? session[:username] : 'Gost' %></a>
      </nav>
    </div>
  </div>
</body>
</html>