   
<%= simple_form_for [:admin, @portal], html: { class: 'form-horizontal' },
wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: 'Portal Title', hint: 'Visible only if there is no logo selected' %>
    <%= f.input :logo_image_id, label: 'Portal Logo', hint: 'Logo will override the Portal Title' %>
    <%= f.input :layout, as: :radio_buttons, label: 'Layout', :collection => ["thumbs", "list"], hint: 'Chose preferred layout of webclips' %>
    <%= f.input :icon_bg, as: :radio_buttons, label: 'Icon Background', hint: 'Check "Yes" if you want to add shadow and light background to webclip icons' %>
    <%= f.input :theme, label: 'Theme', :collection => ['default', 'mocca', 'navy_dark'] %>
    <%= f.input :font, label: 'Font', :collection => ["'Open Sans', sans-serif", "'Droid Serif', serif"] %>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <h3 style="margin-bottom: 5px">Custom Styles:</h3>
        <p class="help-block">(these styles will override the styles of selected theme)</p>
      </div>
    </div>
    <br/>
    <%= f.input :bg_css %>
    <%= f.input :bg_image_id %>
  </div>
<br/>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
  <div class="form-actions">
    <%= f.button :submit, 'Update Portal Settings' %>
  </div>
</div>
</div>
<% end %>
