<p>
  <strong>Title:</strong>
  <%= @portal.title %>
</p>

<p>
  <strong>Logo image:</strong>
  <%= @portal.logo_image_id %>
</p>

<p>
  <strong>Bg css:</strong>
  <%= @portal.bg_css %>
</p>

<p>
  <strong>Bg image:</strong>
  <%= @portal.bg_image_id %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @portal.layout %>
</p>

<p>
  <strong>Font:</strong>
  <%= @portal.font %>
</p>

<%= link_to 'Edit', edit_admin_portal_path(@portal) %>
