<h1>Listing webclips</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Order</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webclips.each do |webclip| %>
      <tr>
        <td><%= webclip.name %></td>
        <td><%= webclip.link %></td>
        <td><%= webclip.position %></td>
        <td><%= webclip.description %></td>
        <td><%= webclip.categories.map(&:name).join(', ') %></td>
        <td><%= link_to 'Show', webclip %></td>
        <td><%= link_to 'Edit', edit_webclip_path(webclip) %></td>
        <td><%= link_to 'Destroy', webclip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webclip', new_webclip_path %>
