<p>
  <strong>Name:</strong>
  <%= @webclip.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @webclip.link %>
</p>

<p>
  <strong>Position:</strong>
  <%= @webclip.position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @webclip.description %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @webclip.pages.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_webclip_path(@webclip) %> |
<%= link_to 'Back', webclips_path %>
